* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  user-select: none;
  font-size: 1rem;
}

body {
  font-family: 'Poppins', sans-serif;
}

header{
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
  }

.appear {
  opacity: 1;
  transform: translateY(0);
}

header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 8vh;
  width: 100%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

header img {
  width: 22vh;
  
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2vw;
}

nav a {
  color: #1e1e1e;
  text-decoration: none;
  font-size: 2vh;
}

nav a:hover {
  color: #E04444;
  transition: color 0.3s ease;
}

.publico-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3vh 8vh;
  overflow: hidden;
}

.textos-publico {
  width: 50%;
  color: #1e1e1e;
}

.textos-publico h1 {
  font-size: 7.7vh;
  margin-bottom: 2vh;
  color: #1e1e1e;
}

.textos-publico h3 {
  font-size: 3vh;
  margin-top: 3vh;
  margin-bottom: 1.5vh;
  color: #1e1e1e;
}

.textos-publico ul {
  margin-left: 2vw;
  margin-bottom: 2vh;
  font-size: 2.2vh;
  line-height: 1.6;
}

.textos-publico p {
  font-size: 2.3vh;
  line-height: 1.6;
  margin-top: 2vh;
}

.textos-publico strong {
  color: #E04444;
}

.slide-container {
  width: 45%;
  height: 55vh;
  overflow: hidden;
  border-radius: 2vh;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 20vh;
}

.slide-faixa {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 2vh;
}

.onda-fundo {
  position: absolute;
  display: block;
  width: 100%;
  top: 70vh;
  z-index: -1;
}

.rodape {
  background-color: #E04444;
  color: white;
  padding: 3vh 8vh;
  width: 100%;
  font-size: 2vh;
  text-align: center;
  margin-top: 5vh;
}

.rodape-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
}

.links-rodape {
  list-style: none;
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.links-rodape a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.links-rodape a:hover {
  color: #ffdada;
}