body {
    user-select: none;
    font-family: Arial, sans-serif;
    padding: 5vh 3vw;
    background-color: #f0f2f5;
}
#quiz {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 3vh 3vw;
    border-radius: 2vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2 {
    font-size: 3vh;
    margin-bottom: 2vh;
    color: #1e1e1e;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 1.5vh;
    color: #1e1e1e;
}
button {
    width: 100%;
    padding: 1.5vh;
    font-size: 2.2vh;
    background-color: #f59398;
    color: white;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
}
button:hover {
    background-color: #c9767a;
}
.voltar-home {
    display: block;
    margin: 4vh auto 0;
    padding: 1.5vh 3vw;
    background-color: #E04444;
    color: white;
    text-align: center;
    font-size: 2.2vh;
    border-radius: 1vh;
    text-decoration: none;
    width: fit-content;
}