* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  user-select: none;
  font-size: 1rem; 
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 8vh;
  width: 100%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

header img {
  width: 22vh; 
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2vw;
}

nav a {
  color: #1e1e1e;
  text-decoration: none;
  font-size: 2vh;
}

nav a:hover {
  color: #E04444;
  transition: color 0.3s ease;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-app img {
  display: flex;
  position: absolute;
  height: 80vh;
  right: 0;
  top: 11vh;
}

.texto-tecnologias{
  margin-top: 18.4vh;
  height: 9.2vh;
  margin-left: 5vw;
  color: #1e1e1e;
}

.texto-tecnologias h1 {
  font-size: 7.7vh;
  line-height: 1.2;
  color: #1e1e1e;
}

.row-tech {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  background-color: #E04444;
  padding: 0 5vw;
}

.row-tech p {
  font-size: 2.5vh;
  color: white;
  max-width: 50vw;
  margin-top: 2vh;
}

.row-tech h1 {
  font-size: 15vh;
  color: white;
  position: absolute;
  top: 7.12cap;
  left: 5vw;
  margin: 0;
}

.prototipagem {
  display: flex;
  height: 90vh;
  justify-content: space-between;
}

.texto-prototipagem {
  display: flex;
  flex-direction: column;

}

.texto-prototipagem h1 {
  border-radius: 1vw 0 0 1vw;
  padding: 1vw 0 1vw 3vw;
  font-size: 7vh;

  color: white;
  background-color: #E04444;
}

.texto-prototipagem p {
  font-size: 3vh;
  margin: 3vh 1vw;
  max-width: 55vw;
}


.img-prototipagem img {
  height: 40vh;
  margin: 0 10vh;
}
.edge-computing{
  display: flex;
  justify-content: space-between;
}

.text-edge h1{
  max-width: 50vw;
  border-radius: 0vw 1vw 1vw 0vw;
  padding: 1vw 0 1vw 13vw;
  font-size: 7vh;
  color: white;
  background-color: #E04444;
}

.text-edge p{
  font-size: 3vh;
  margin: 3vh 1vw;
  max-width: 50vw;
}

.img-edge img {
  height: 60vh;
  margin: 0 10vh;
}